@font-face {
  font-family: 'Visby';
  src: local('Visby'),
    url(./assets/fonts/VisbyRoundCFRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 40px;
  font-family: 'Visby';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
